{% extends "TLMainBundle:Dashboard:layout.html.twig" %}

{% block navMaterials "active" %}

{% block content %}

    <style>
        .rotate-left {
            -ms-transform:rotate(-90deg); /* IE 9 */
            -moz-transform:rotate(-90deg); /* Firefox */
            -webkit-transform:rotate(-90deg); /* Safari and Chrome */
            transform:rotate(-90deg);
        }
    </style>
    <div class="body row-fluid">
        <h3>Promotion Materials</h3>
       
        <div class="row-fluid">
            <div class="span7 align-center last">
                <img src="{{ asset('bundles/tlmain/images/dashboard/poster-a4.png') }}" alt="A4 Poster" class="well"/><br>
                <strong>A4 Poster</strong> | <a href="">Download</a> | <a href="">Print</a>
            </div> 

            <div class="span4 last align-center">

                <img src="{{ asset('bundles/tlmain/images/dashboard/poster-a5.png') }}" alt="A5 Poster" class="well"/><br>
                <strong>A5 Poster</strong> | <a href="">Download</a> | <a href="">Print</a>

                <br><br>

                <img src="{{ asset('bundles/tlmain/images/dashboard/poster-table.png') }}" alt="Table Top Card" class="well"/><br>
                <strong>Table Top Card</strong> | <a href="">Download</a> | <a href="">Print</a>



            </div>
        </div>

        <br>

        <div class="align-center" style="width: 400px;">
            <div class="popover top align-left" style="position: relative; display: block; margin: 0 auto; width: 100%;">
                <div class="arrow"></div>
                <h3 class="popover-title">Hold On</h3>
                <div class="popover-content">
                    Remember that these adverts will be put up in store so make sure use a good printer and high quality card when you print them out.
                </div>
            </div>
            <br>
            <img src="/bundles/tlmain/images/dashboard/mascot.png"> 
        </div>
 
        <div class="clearfix"></div>

    </div>

{% endblock %}
