{% extends "TLMainBundle:Dashboard:layout.html.twig" %}

{% block navMaterials "active" %}

{% block content %}

    <style>
        .rotate-left {
            -ms-transform:rotate(-90deg); /* IE 9 */
            -moz-transform:rotate(-90deg); /* Firefox */
            -webkit-transform:rotate(-90deg); /* Safari and Chrome */
            transform:rotate(-90deg);
        }
    </style>
    <div class="body row-fluid">
        <h3>Promotion Materials</h3>
       
        <div class="body row-fluid">
            <div class="span5 align-center">
                <img src="http://lorempixel.com/500/711/city/"><br>
                <strong>A4 Poster</strong> | <a href="">Download</a> | <a href="">Print</a>
            </div> 


            <div class="span7">

                <div class="body row-fluid">
                    <div class="span6 align-center">
                        <img src="http://lorempixel.com/210/299/city/"><br>
                        <strong>A5 Poster</strong> | <a href="">Download</a> | <a href="">Print</a>
                    </div>

                    <div class="span6 align-center">
                        <img src="http://lorempixel.com/210/299/city/"><br>
                        <strong>Table Top Card</strong> | <a href="">Download</a> | <a href="">Print</a>
                    </div>
                </div>



                <div class="body row-fluid">
                    <div class="span6 align-center">
                        <img src="http://lorempixel.com/210/299/city/" class="rotate-left"><br>
                        <strong>A6 Poster</strong> | <a href="">Download</a> | <a href="">Print</a>
                    </div>

                    <div class="span6 align-center">
                        <div class="popover top align-left" style="position: relative; display: block; margin: 0 auto; width: 100%;">
                            <div class="arrow"></div>
                            <h3 class="popover-title">Hold On</h3>
                            <div class="popover-content">
                                Remember that these adverts will be put up in store so make sure use a good printer and high quality card when you print them out.
                            </div>
                        </div>
                        <br>
                        <img src="/bundles/tlmain/images/dashboard/mascot.png"> 
                    </div>
                </div>

            </div>
        </div>
        <div class="clearfix"></div>

    </div>

{% endblock %}
