/app/config/parameters.ini
/app/cache/
/app/config/parameters.yml
/app/sessions/
/app/logs/
/app/bootstrap.php.cache
/vendor/
/web/bundles/
/web/css/
/web/js/
/web/media/
/web/uploads/
/install.php
*~
