{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <h4>Your account has been successfully created.</h4>
    {% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.target_path') %}
        {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">Contine &raquo;</a></p>{% endif %}
    {% endif %}
{% endblock fos_user_content %}
