{% extends "TLMainBundle:Dashboard:layout.html.twig" %}

{% block navQr "active" %}

{% block content %}

   <div class="body row-fluid">
        <h3>QR Code</h3>
       
        <div class="body row-fluid">
            <div class="span7 align-center">
                <img src="http://www.theconstructionindex.co.uk/public/assets/news_articles/2012/05/1338185308_qr-code-photo.jpg"><br>
            </div> 

            <div class="span5">
                    <div class="align-center">
                        <img src="https://doc-14-2c-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/0e25sjenb73ufunvm9p2a5cvara1htja/1357574400000/02024014036952238954/*/0B5mjS1YuzOk6b1djeXozY09NNkE">
                    </div>
                    <br><br><br>

                    <div class="align-center">
                        <a href="" class="btn btn-success btn-large" style="width: 495px; height:70px;"><h1>Print QR Code</h1></a>
                   </div>
                </div>

            </div>
        </div>
        <div class="clearfix"></div>

    </div>

{% endblock %}
