{% extends "TLMainBundle:Dashboard:layout.html.twig" %}

{% block navQr "active" %}

{% block content %}

   <div class="body row-fluid">
        <h3>QR Code</h3>
       
        <div class="body row-fluid">
            <div class="span7 align-center">
                <img src="http://www.theconstructionindex.co.uk/public/assets/news_articles/2012/05/1338185308_qr-code-photo.jpg"><br>
            </div> 

            <div class="span5">
                    <div class="align-center">
                        <img src="http://www.scoutnetworkblog.com/wp-content/uploads/2011/11/PscanDemonstrationImage_.png">
                    </div>
                    <br><br><br>

                    <div class="align-center">
                        <a href="" class="btn btn-success btn-large" style="width: 495px; height:70px;"><h1>Print QR Code</h1></a>
                   </div>
                </div>

            </div>
        </div>
        <div class="clearfix"></div>

    </div>

{% endblock %}
