
<h2>Privacy Policy</h2>
<div style="text-align: left;" >


<p>
This Policy applies as between you, the User of this Website and True Loyalty the owner and provider of this Website." This Policy applies to our use of any and all Data collected by us in relation to your use of the Website.<br>
<br>
<b><u>1. Definitions and Interpretation <br>
</u></b><br>
In this Policy the following terms shall have the following meanings:" <br>
<br>
"Data" means collectively all information that you submit to the True Loyalty
via the Website." This definition shall, where applicable, incorporate the
definitions provided in the Data Protection Act 1998;<br>
<br>
"Cookie" means a small text file placed on your computer by this Website when
you visit certain parts of the Website and/or when you use certain features of
the Website." Details of the cookies used by this Website are set out in Clause
12;</p>

<p>"True Loyalty" means True Loyalty, a trading name of Kilroy Global Limited, a company registered in England and Wales, with a company number of 08245637, and a registered office address of Third Floor, 207 Regent Street, London, W1B 3HH;<br>
<br>
"UK and EU Cookie Law" means the Privacy and Electronic Communications (EC Directive) Regulations 2003 as amended by the Privacy and Electronic Communications (EC Directive) (Amendment) Regulations 2011;<br>
<br>
"User" means any third party that accesses the Website and is not employed by True Loyalty and acting in the course of their employment; and<br>
<br>
"Website" means the website that you are currently using
(http://www.trueloyalty.co.uk) and any variations of this site (e.g.
http://trueloyalty.co.uk) unless expressly excluded by their own terms and
conditions.<br>
<br>
<b><u>2. Scope of this Policy<br>
</u></b><br>
This Policy applies only to the actions of True Loyalty and Users with respect
to this Website." It does not extend to any websites that can be accessed from
this Website.<br>
<br>
<b><u>3. Data Collected<br>
</u></b><br>
Without limitation, any of the following Data may be collected by True Loyalty,
depending on your use of the Website:<br>
<br>
3.1.  Title;<br>
3.2.  First Name;<br>
3.3.  Last Name;<br>
3.4.  Email;<br>
3.5.  Password;<br>
3.6.  Business Name;<br>
3.7.  Address Line 1;<br>
3.8.  Address Line 2;<br>
3.9.  City / Town;<br>
3.10.  Postcode;<br>
3.11.  Country;<br>
3.12.  Phone Number;<br>
3.13. Website URL;<br>

<br>
<b><u>4. Our Use of Data<br>
</u></b><br>
4.1. Any personal Data you submit will be retained by True Loyalty for as long
as is deemed necessary.</p>

<p>4.2. Unless
we are obliged or permitted by law to do so, and subject to Clause 5, your Data
will not be disclosed to third parties." This does not include our affiliates
and / or other companies within our group.</p>

<p>4.3. All
personal Data is stored securely in accordance with the principles of the Data
Protection Act 1998. For more details on security see Clause 11 below.</p>

<p>4.4. Any or
all of the Data listed in Clause 3 may be required by us from time to time in
order to provide you with the best possible service and experience when using
our Website." <br>
<br>
<b><u>5. Third Party Websites and Services<br>
</u></b><br>
True Loyalty may, from time to time, employ the services of other parties for
dealing with matters that may include, but are not limited to, payment processing,
delivery of purchased items, search engine facilities, advertising and
marketing." The providers of such services may have access to certain personal
Data provided by Users of this Website.<br>
<br>
<b><u>6. Links to Other Websites<br>
</u></b><br>
This Website may, from time to time, provide links to other websites." True
Loyalty has no control over such websites and is in no way responsible for the
content thereof." This Policy does not extend to your use of such websites."
Users are advised to read the privacy policy or statement of other websites
prior to using them.<br>
<br>
<b><u>7. Changes of Business Ownership and Control<br>
</u></b><br>
7.1. True Loyalty may, from time to time, expand or reduce our business and
this may involve the sale and/or the transfer of control of all or part of True
Loyalty." Data provided by Users will, where it is relevant to any part of our
business so transferred, be transferred along with that part and the new owner
or newly controlling party will, under the terms of this Policy, be permitted
to use the Data for the purposes for which it was originally supplied to us.<br>
<br>
7.2. In the event that any Data submitted by Users is to be transferred in such
a manner, you will be contacted in advance and informed of the changes." When
contacted you will be given the choice to have your Data deleted or withheld
from the new owner or controller.<br>
<br>
<b><u>8. Controlling Use of Your Data<br>
</u></b><br>
8.1. Wherever you are required to submit Data, you will be given options to
restrict our use of that Data." This may include the following:<br>
<br>
8.1.1. Use of Data for direct marketing purposes; <br>
<br>
<b><u>9. Your Right to Withhold Information<br>
</u></b><br>
9.1. You may most of the Website without providing any Data at all." However,
to use all features and functions available on the Website you may be required
to submit certain Data, as specified in Clause 3.<br>
<br>
9.2. You may restrict your internet browser"s use of Cookies." For more
information see Clause 12.<br>
<br>
<b><u>10. Accessing your own Data<br>
</u></b><br>
You have the right to ask for a copy of any of your personal Data held by True
Loyalty (where such data is held) on payment of a small fee which will not
exceed "10.00.<br>
<br>
<b><u>11. Security<br>
</u></b><br>
11.1. Data security is of great importance to True Loyalty and to protect your
Data we have put in place suitable physical, electronic and managerial
procedures to safeguard and secure Data collected via this Website.<br>
<br>
<b><u>12. Cookies<br>
</u></b><br>
12.1. This Website may place and access certain first party Cookies on your
computer." First party cookies are those placed directly by True Loyalty via
this Website and are used only by True Loyalty. "True Loyalty uses Cookies to
improve your experience of using the. True Loyalty has carefully chosen these
Cookies and has taken steps to ensure that your privacy is protected and
respected at all times.<br>
<br>
12.2. All Cookies used by this Website are used in accordance with current UK
and EU Cookie Law.</p>

<p>12.3.
Certain features of the Website depend upon Cookies to function." UK and EU
Cookie Law deems these Cookies to be "strictly necessary"." These Cookies are
shown below." Your consent will not be sought to place these Cookies." You may
still block these cookies by changing your internet browser"s settings as
detailed below.<br>
<br>
12.4. The following first party Cookies may be placed on your computer:

<br><br>
"PHPSESSID" is cookie considered 'strictly necessary' and is used to maintain your authentication status while using the website<br>
"cookieAccepted" is cookie not considered 'strictly necessary' and is used to indicated your acceptance of the True Loyalty cookie policy.
</p>



<p>
12.5. This Website uses analytics services provided by Google Analytics."
Website analytics refers to a set of tools used to collect and analyse usage
statistics, enabling us to better understand how Users use the Website." This,
in turn, enables us to improve the Website and the products and services
offered through it." You do not have to allow us to use these Cookies, as
detailed below, however whilst our use of them does not pose any risk to your
privacy or your safe use of the Website, it does enable us to continually
improve our business.</p>

<p>12.6. The
analytics services used by this Website use Cookies to gather the required
information." Some of these Cookies may be placed immediately when you decide
to visit the Website and it may not be possible to obtain your prior consent."
You may remove these Cookies and prevent future use of them by following the
steps set out below.<br>
<br>
12.7. The analytics services used by this Website use the following Cookies,
provided by Google Analytics:</p>

<p>12.7.1.
"__utma" is a persistent cookie that keeps track of the number of times a
visitor has been to the site pertaining to the cookie, when their first visit
was, and when their last visit occurred.</p>

<p>12.7.2.
"__utmb" takes a timestamp of the precise moment in time when a visitor enters
a site.<br>
<br>
12.7.3. "__utmc" takes a timestamp of the precise moment in time when a visitor
leaves a site.<br>
<br>
12.7.4. "__utmz" keeps track of where a visitor comes from, what search engine they
are using, what link they clicked on, what keyword they used, and where they
were in the world when they accessed a website.<br>
<br>
12.8. You can choose to enable or disable Cookies in your internet browser."
Most internet browsers also enable you to choose whether you wish to disable
all cookies or only third party cookies." By default, most internet browsers
accept Cookies but this can be changed." For further details, please consult
the help menu in your internet browser.</p>

<p>12.9. You
can choose to delete Cookies at any time however you may lose any information
that enables you to access the Website more quickly and efficiently including,
but not limited to, personalisation settings.</p>

<p>12.10. It is
recommended that you ensure that your internet browser is up-to-date and that
you consult the help and guidance provided by the developer of your internet
browser if you are unsure about adjusting your privacy settings.<br>
<br>
<b><u>13. Changes to this Policy<br>
</u></b><br>
True Loyalty reserves the right to change this Policy as we may deem necessary
from time to time or as may be required by law." Any changes will be
immediately posted on the Website and you are deemed to have accepted the terms
of the Policy on your first use of the Website following the alterations.</p>



</div>
<div class="separator"></div>

