
<div style="display:none; padding: 5px;" class="modal center" id="privacy">
    <div class="separator"></div>

    {% include 'TLMainBundle:Page:_privacy.html.twig' %}

    <button data-dismiss="modal" class="btn btn-large">Close</button>
    <div class="separator"></div>
</div>

