
<div style="display:none; width: 660px; padding: 5px;" class="modal center" id="startupKit">
    <h2>Free Start Up Kit</h2>
    <div >
        We provide you with a start up kit to help launch and manage your loyalty program. Our start up kit is provided to every business that works with True Loyalty, free of charge.
    </div>
    <div class="clearfix"></div>
    <div class="separator"></div>
    <div class="">
        <div class="span2">
            <div class="">
                <img src="{{ asset('bundles/tlmain/images/kit-pack.png') }}" alt="Startup Kit" />
            </div>
            <h3>Welcome Pack</h3>
            <div class="">Everything explained to help you set up your loyalty program.</div>
        </div>
        <div class="span2">
            <div class="">
                <img src="{{ asset('bundles/tlmain/images/kit-poster.png') }}" alt="Startup Kit Poster" />
            </div>
            <h3>Poster</h3>
            <div class="">Advertise your loyalty program to your new and existing customers.</div>
        </div>
        <div class="span2">
            <div class="">
                <img src="{{ asset('bundles/tlmain/images/kit-tent.png') }}" alt="Startup Kit Tent Card" />
            </div>
            <h3>Tent Cards</h3>
            <div class="">Advertise your loyalty program at key areas around your shop.</div>
        </div>
        <div class="span2">
            <div class="">
                <img src="{{ asset('bundles/tlmain/images/kit-qrcode.png') }}" alt="Startup Kit QR Code" />
            </div>
            <h3>Unique QR Code</h3>
            <div class="">Customers scan this to 'stamp' their mobile loyalty card and earn rewards.</div>
        </div>
    </div>

    <div class="separator"></div>

    <div class="twelvecol">
        <div class="clearfix"></div><!-- clear float --> 
        <a href="/app_dev.php/pricing" class="btn btn-primary btn-large">Create A Loyalty Program Today &raquo;</a>&nbsp;&nbsp;&nbsp;
        <button data-dismiss="modal" class="btn btn-large">Close</button>

    </div>

    <div class="separator"></div>
</div>

