{% extends "TLMainBundle::layout.html.twig" %}

{% block content %}

<div id="outermain">
            <div class="container">
                <section id="maincontent" class="row">
                    <div class="twelvecol">
            
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mauris elit, pellentesque eu laoreet a, molestie vel metus. Etiam posuere, arcu ut rhoncus aliquet, turpis lorem viverra quam, et ullamcorper massa eros eget sapien. Aliquam mauris elit, pellentesque eu laoreet a, molestie vel metus.</p>
                    <div class="separator"></div>
                    <div class="sixcol ">
                        <div class="if-heading">
                            <h3><span>Let&#8217;s keep in touch</span></h3>
                            <div id="contactform">
                                  <form id="contact" action="#">
                                      <fieldset>
                                          <span class="error" id="name_error">Please enter name !</span>
                                          <span class="error" id="email_error">Please enter email address !</span>
                                          <span class="error" id="email_error2">Please enter valid email address !</span>
                                          <span class="error" id="msg_error">Please enter message !</span>
                                          <label for="name" id="name_label">Your Name (required)</label>
                                          <input type="text" name="name" id="name" size="50" value="" class="text-input" />
                                          <label for="email" id="email_label">Your Email (required)</label>
                                          <input type="text" name="email" id="email" size="50" value="" class="text-input" />
                                          <label for="subject" id="subject_label">Subject</label>
                                          <input type="text" name="subject" id="subject" size="50"  value="" class="text-input" />
                                          <label for="msg" id="msg_label">Your Message (required)</label>
                                          <textarea rows="8" name="msg" id="msg" class="text-input"></textarea>
                                          <br />
                                          <input type="submit" name="submit" class="button" id="submit_btn" value="Send"/>
                                      </fieldset>
                                  </form>
                            </div><!-- end contactform -->
                        </div>
                    </div>
                    <div class="sixcol last">
                        <div class="if-heading">
                            <h3><span>Our Office</span></h3>
                        </div>
                        <div class="frameimg">
                        <iframe style="width:100%; height:250px; border:0; margin:0px; padding:0px; " src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Bali,+Indonesia&amp;aq=0&amp;oq=bali&amp;sll=37.0625,-95.677068&amp;sspn=40.59616,79.013672&amp;ie=UTF8&amp;hq=&amp;hnear=Bali,+Indonesia&amp;t=m&amp;ll=-8.408357,115.188904&amp;spn=0.021227,0.026264&amp;z=14&amp;output=embed"></iframe></div>
                    <div class="separator"></div>
                    
                        <div class="sixcol">
                            <div class="if-heading">
                                <h4><span>Our Headquarter</span></h4>
                            </div>
                            <ul>
                                <li class="clearfix contact_address">
                                    <div class="left"><span class="lambda-address"></span></div>
                                    <div class="description">Golden Boulevard No. J123<br />
                                    Bumi Serpong Damai, <br/>Tangerang Selatan 12322</div>
                                </li>
                                <li class="clearfix contact_phone" >
                                    <div class="left"><span class="lambda-phone"></span></div>
                                    <div class="description">+62 (21) 422-4446</div>
                                </li>
                                <li class="clearfix contact_mobile">
                                    <div class="left"><span class="lambda-fax"></span></div>
                                    <div class="description">+62 (21) 423-4447</div>
                                </li>
                                <li class="clearfix contact_email">
                                    <div class="left"><span class="lambda-email"></span></div>
                                    <div class="description">ramayana@interfeis.com</div>
                                </li>
                            </ul>
                        </div>
                        <div class="sixcol last">
                            <div class="if-heading">
                                <h4><span>Our Branch Office</span></h4>
                            </div>
                            <ul>
                            <li class="clearfix contact_address">
                                <div class="left"><span class="lambda-address"></span></div>
                                <div class="description">Jl. Ranca Bentang No. 122<br />
                                Lembang, <br/>Bandung 12322</div>
                            </li>
                            <li class="clearfix contact_phone" >
                                <div class="left"><span class="lambda-phone"></span></div>
                                <div class="description">+62 (22) 555-2346</div>
                            </li>
                            <li class="clearfix contact_mobile">
                                <div class="left"><span class="lambda-fax"></span></div>
                                <div class="description">+62 (22) 555-1247</div>
                            </li>
                            <li class="clearfix contact_email">
                                <div class="left"><span class="lambda-email"></span></div>
                                <div class="description">ramayana@interfeis.com</div>
                            </li>
                            </ul>
                        </div>
                    </div>
                
                    </div>
                    <div class="clearfix"></div><!-- clear float --> 
                </section><!-- maincontent -->
            </div>
        </div>

{% endblock %}
