{% extends "TLMainBundle::layout.html.twig" %}

{% block title "Features - Loyalty Programs" %}

{% block breadcrumb "" %}
{% block pageTopText "Features" %}

{% block content %}

       <div id="outermain">
            <div class="container">
                <section id="maincontent" class="row">
                 
                    <div class="fourcol ">
                        <img src="/bundles/tlmain/images/content/pf/autumnleaf-349x260.jpg" alt="Autumn Leaf"   />
                    </div>
                    <div class="eightcol last">
                        <h3>Loyalty Campaign Management</h3>
                        <p>You are in control of your loyalty campaign. Customise and control its start and end date, minimum spend requirements, number of stamps to achieve rewards, reward details and any other conditions that are necessary.</p>
                    </div>

                    <hr>

                    <div class="eightcol ">
                        <h3>Track Campaign Statistics</h3>
                        <p>Track your loyalty scheme’s success and analyse stamps, rewards and adoption rates by time, date and location.</p>
                    </div>
 
                    <div class="fourcol last">
                        <img src="/bundles/tlmain/images/content/pf/autumnleaf-349x260.jpg" alt="Autumn Leaf"   />
                    </div>

                    <hr>
                 
                    <div class="fourcol ">
                        <img src="/bundles/tlmain/images/content/pf/autumnleaf-349x260.jpg" alt="Autumn Leaf"   />
                    </div>
                    <div class="eightcol last">
                        <h3>Send Targeted Promotions</h3>
                        <p>Send targeted promotions to the different segments of your loyalty scheme's membership. Fancy regenerating custom from those who haven't visited in the past 28 days, 
                            or would like to reward your most loyal customers with a free coffee? All of this can be done through our user-friendly message center. All of your promotions are sent directly to your customers.</p>
                    </div>

                    <hr>

                    <div class="eightcol ">
                        <h3>Analyse Customers</h3>
                        <p>View and filter your customers by gender, age, nationality and other criteria. Drill down further to analyse what day and time each customer 'stamped' their loyalty card, 
                        redeemed their reward or provided feedback. Get to know your customers by viewing and memorising their profile photo!</p>
                    </div>
                    <div class="fourcol last">
                        <img src="/bundles/tlmain/images/content/pf/autumnleaf-349x260.jpg" alt="Autumn Leaf"   />
                    </div>

                    <hr>
                    
            
                
                    <div class="fourcol ">
                        <img src="/bundles/tlmain/images/content/pf/autumnleaf-349x260.jpg" alt="Autumn Leaf"   />
                    </div>
                    <div class="eightcol last">
                        <h3>Analyse Customer Feedback</h3>
                        <p>After each stamp and/or reward, customers are asked to provide a 'star rating' and a comment about their experience at your store. Tap into this data to listen and react to customer feedback.</p>
                    </div>

                    <hr>

                    <div class="eightcol ">
                        <h3>Weekly Update Emails</h3>
                        <p>At the end of each week you'll be sent a progress update containing key information regarding your loyalty scheme.</p>
                    </div>
                    <div class="fourcol last">
                        <img src="/bundles/tlmain/images/content/pf/autumnleaf-349x260.jpg" alt="Autumn Leaf"   />
                    </div>

                    <hr>
                 
                    <div class="fourcol ">
                        <img src="/bundles/tlmain/images/content/pf/autumnleaf-349x260.jpg" alt="Autumn Leaf"   />
                    </div>
                    <div class="eightcol last">
                        <h3>Print Promotional Materials</h3>
                        <p>Has a coffee been spilt on your counter poster? No worries. Print all of your promotional kit materials from within your dashboard. They are printer friendly and ready to go.</p>
                    </div>

                    <hr>

                    <div class="eightcol ">
                        <h3>Active Support</h3>
                        <p>If you ever have any problems, questions or just fancy a chat, we're happy to help. We've included a support desk within the dashboard to help our clients get in touch with us.</p>
                    </div>
                    <div class="fourcol last">
                        <img src="/bundles/tlmain/images/content/pf/autumnleaf-349x260.jpg" alt="Autumn Leaf"   />
                    </div>

                    <hr>
                                
                    <div class="center">
                        <h2>Still not sure?</h2>
                        Join our <a href="{{ path('TLMainBundle_page_pricing') }}" class="btn btn-primary btn-large">"Free for Life" package</a> and try it out.
                    </div>
                                                 
                    <div class="separator"></div>
                    <div class="separator"></div>
                    <div class="separator"></div>

                    <div class="clearfix"></div><!-- clear float --> 
                </section><!-- maincontent -->
            </div>
        </div>

{% endblock %}
