{% extends "TLMainBundle::layout.html.twig" %}

{% block title "Features - Loyalty Programs" %}

{% block breadcrumb "" %}
{% block pageTopText "Features" %}

{% block content %}

       <div id="outermain">
            <div class="container">
                <section id="maincontent" class="row">

                    <p class="secondarytext">We build effective loyalty programs for all types of businesses.<br><br> Below is a list of some of the features we offer.</p>
                    <div class="separator"></div>
                    <div class="separator"></div>
                 
                    <div class="fourcol ">
                        <img src="/bundles/tlmain/images/content/pf/autumnleaf-349x260.jpg" alt="Autumn Leaf"   />
                    </div>
                    <div class="eightcol last">
                        <h3>Create a Mobile Loyalty Card</h3>
                        <p>Set up your own "buy five and get one free" type loyalty card. All 'stamps' and redemptions are stored online, and accessed by your customer's smart phones. No need for paper cards. It's all done in the cloud.</p>
                    </div>

                    <hr>

                    <div class="eightcol ">
                        <h3>Create Targeted Promotions</h3>
                        <p>Send tailored promotions to different segments of your loyalty program's membership. Fancy regenerating custom from those who haven't visited in the past 28 days? Or maybe you would like to reward your most loyal customers with a free coffee? All of your promotions are sent directly to your customers.</p>
                    </div>
                    <div class="fourcol last">
                        <img src="/bundles/tlmain/images/content/pf/autumnleaf-349x260.jpg" alt="Autumn Leaf"   />
                    </div>

                    <hr>
                 
                    <div class="fourcol ">
                        <img src="/bundles/tlmain/images/content/pf/autumnleaf-349x260.jpg" alt="Autumn Leaf"   />
                    </div>
                    <div class="eightcol last">
                        <h3>Track Program Statistics</h3>
                        <p>Track your loyalty program's performance, analyse membership statistics, identify new members and drill down further to view sign ups, stamps and redemptions by time, date and location.</p>
                    </div>

                    <hr>

                    <div class="eightcol ">
                        <h3>Analyse Customers</h3>
                        <p>View and filter your customers by gender, age and other criteria. Drill down further and view detailed customer profiles, average feedback statistics and identify your most loyal customers. You can even get to know your customers by viewing and memorising their profile photo!</p>
                    </div>
                    <div class="fourcol last">
                        <img src="/bundles/tlmain/images/content/pf/autumnleaf-349x260.jpg" alt="Autumn Leaf"   />
                    </div>

                    <hr>
                    
            
                
                    <div class="fourcol ">
                        <img src="/bundles/tlmain/images/content/pf/autumnleaf-349x260.jpg" alt="Autumn Leaf"   />
                    </div>
                    <div class="eightcol last">
                        <h3>View Customer Feedback</h3>
                        <p>After your customer has stamped their loyalty card, they are asked to provide a 'star rating' and a comment about their experience at your store. Tap into this data to listen and react to customer feedback.</p>
                    </div>

                    <hr>

                    <div class="eightcol ">
                        <h3>Weekly Update Emails</h3>
                        <p>At the end of each week you'll be sent a progress update containing key information regarding your loyalty program.</p>
                    </div>
                    <div class="fourcol last">
                        <img src="/bundles/tlmain/images/content/pf/autumnleaf-349x260.jpg" alt="Autumn Leaf"   />
                    </div>

                    <hr>
                 
                    <div class="fourcol ">
                        <img src="/bundles/tlmain/images/content/pf/autumnleaf-349x260.jpg" alt="Autumn Leaf"   />
                    </div>
                    <div class="eightcol last">
                        <h3>Print Promotional Materials</h3>
                        <p>Has a coffee been spilt on your counter poster? No worries. Print all of your promotional kit materials from within your dashboard. They are printer friendly and ready to go.</p>
                    </div>

                    <hr>

                    <div class="eightcol ">
                        <h3>Support Desk</h3>
                        <p>If you ever have any problems, questions or just fancy a chat, we're happy to help. We've included a support desk within the dashboard to help our clients get in touch with us.</p>
                    </div>
                    <div class="fourcol last">
                        <img src="/bundles/tlmain/images/content/pf/autumnleaf-349x260.jpg" alt="Autumn Leaf"   />
                    </div>

                    <hr>
                                
                    <div class="center">
                        <a href="{{ path('TLMainBundle_page_pricing') }}" class="btn btn-success btn-large">Create Your Business's Loyalty Program Today &raquo;</a>
                    </div>
                                                 
                    <div class="separator"></div>
                    <div class="separator"></div>
                    <div class="separator"></div>

                    <div class="clearfix"></div><!-- clear float --> 
                </section><!-- maincontent -->
            </div>
        </div>

{% endblock %}
