{% extends "TLMainBundle::layout.html.twig" %}

{% block content %}

       <div id="outermain">
            <div class="container">
                <section id="maincontent" class="row">
                
                    <div class="if-pf-container">
                        <ul class="if-pf-col-3">
                            <li class="fourcol ">
                                <div class="if-pf-img">
                                    <div class="rollover"></div>
                                    <a class="image gotolink" href="http://www.interfeis.com" title="Autumn Leaf"></a>
                                    <a class="image zoom" href="/bundles/tlmain/images/content/pf/autumnleaf.jpg"  data-rel="prettyPhoto[autumn-leaf]" title="Autumn Leaf"></a>
                                    <img src="/bundles/tlmain/images/content/pf/autumnleaf-349x260.jpg" alt="Autumn Leaf"   />
                                    <a data-rel="prettyPhoto[autumn-leaf]" href="/bundles/tlmain/images/content/pf/autumn2.jpg" title="Autumn Leaf" class="hidden"></a>
                                    <a data-rel="prettyPhoto[autumn-leaf]" href="/bundles/tlmain/images/content/pf/autumn4.jpg" title="Autumn Leaf" class="hidden"></a>
                                </div>
                                <div class="if-pf-text">
                                    <h2><a href="portfolio-detail.html" title="Autumn Leaf">Autumn Leaf</a></h2>
                                    <p>Maecenas eu lorem leo, placerat luctus eros. Maecenas pretium, elit et tempus tincidunt, nisi turpis elementum ligula, vel ultricies lorem elit ut nibh. Integer non fermentum libero.</p>
                                </div>
                                <div class="if-pf-clear"></div>
                            </li>
                        
                            <li class="fourcol ">
                                <div class="if-pf-img">
                                    <div class="rollover"></div>
                                    <a class="image gotopost" href="portfolio-detail.html" title="Cityscape"></a>
                                    <a class="image zoom" href="/bundles/tlmain/images/content/pf/cityscape2.jpg"  data-rel=prettyPhoto[cityscape] title="Cityscape"></a>
                                    <img src="/bundles/tlmain/images/content/pf/cityscape2-349x260.jpg" alt="Cityscape"   />
                                    <a data-rel="prettyPhoto[cityscape]" href="/bundles/tlmain/images/content/pf/cityscape.jpg" title="Cityscape" class="hidden"></a>
                                </div>
                                <div class="if-pf-text">
                                    <h2><a href="portfolio-detail.html" title="Cityscape">Cityscape</a></h2>
                                    <p>Maecenas eu lorem leo, placerat luctus eros. Maecenas pretium, elit et tempus tincidunt, nisi turpis elementum ligula, vel ultricies lorem elit ut nibh. Integer non fermentum libero.</p>
                                </div>
                                <div class="if-pf-clear"></div>
                            </li>
                        
                            <li class="fourcol last">
                                <div class="if-pf-img">
                                    <div class="rollover"></div>
                                    <a class="image gotopost" href="portfolio-detail.html" title="Crossing"></a>
                                    <a class="image zoom" href="/bundles/tlmain/images/content/pf/crossing.jpg"  data-rel="prettyPhoto[crossing]" title="Crossing"></a>
                                    <img src="/bundles/tlmain/images/content/pf/crossing-349x260.jpg" alt="Crossing"   />
                                </div>
                                <div class="if-pf-text">
                                    <h2><a href="portfolio-detail.html" title="Crossing">Crossing</a></h2>
                                    <p>Maecenas eu lorem leo, placerat luctus eros. Maecenas pretium, elit et tempus tincidunt, nisi turpis elementum ligula, vel ultricies lorem elit ut nibh. Integer non fermentum libero.</p>
                                </div>
                                <div class="if-pf-clear"></div>
                            </li>
                            <li class="pf-clear"></li>
                        </ul>
                        
                        <ul class="if-pf-col-3">
                            <li class="fourcol ">
                                <div class="if-pf-img">
                                    <div class="rollover"></div>
                                    <a class="image gotopost" href="portfolio-detail.html" title="Farmhouse"></a>
                                    <a class="image zoom" href="/bundles/tlmain/images/content/pf/farmhouse2.jpg"  data-rel="prettyPhoto[farmhouse]" title="Farmhouse"></a>
                                    <img src="/bundles/tlmain/images/content/pf/farmhouse2-349x260.jpg" alt="Farmhouse"   />
                                </div>
                                <div class="if-pf-text">
                                    <h2><a href="portfolio-detail.html" title="Farmhouse">Farmhouse</a></h2>
                                    <p>Maecenas eu lorem leo, placerat luctus eros. Maecenas pretium, elit et tempus tincidunt, nisi turpis elementum ligula, vel ultricies lorem elit ut nibh. Integer non fermentum libero.</p>
                                </div>
                                <div class="if-pf-clear"></div>
                            </li>
                            <li class="fourcol ">
                                <div class="if-pf-img">
                                    <div class="rollover"></div>
                                    <a class="image gotopost" href="portfolio-detail.html" title="Fountain"></a>
                                    <a class="image zoom" href="/bundles/tlmain/images/content/pf/fountain.jpg"  data-rel="prettyPhoto[fountain]" title="Fountain"></a>
                                    <img src="/bundles/tlmain/images/content/pf/fountain-349x260.jpg" alt="Fountain"   />
                                </div>
                                <div class="if-pf-text">
                                    <h2><a href="portfolio-detail.html" title="Fountain">Fountain</a></h2>
                                    <p>Maecenas eu lorem leo, placerat luctus eros. Maecenas pretium, elit et tempus tincidunt, nisi turpis elementum ligula, vel ultricies lorem elit ut nibh. Integer non fermentum libero.</p>
                                </div>
                                <div class="if-pf-clear"></div>
                            </li>
                            <li class="fourcol last">
                                <div class="if-pf-img">
                                    <div class="rollover"></div>
                                    <a class="image gotopost" href="portfolio-detail.html" title="Gardens"></a>
                                    <a class="image zoom" href="/bundles/tlmain/images/content/pf/gardens.jpg"  data-rel="prettyPhoto[gardens]" title="Gardens"></a>
                                    <img src="/bundles/tlmain/images/content/pf/gardens-349x260.jpg" alt="Gardens"   />
                                </div>
                                <div class="if-pf-text">
                                    <h2><a href="portfolio-detail.html" title="Gardens">Gardens</a></h2>
                                    <p>Maecenas eu lorem leo, placerat luctus eros. Maecenas pretium, elit et tempus tincidunt, nisi turpis elementum ligula, vel ultricies lorem elit ut nibh. Integer non fermentum libero.</p>
                                </div>
                                <div class="if-pf-clear"></div>
                            </li>
                            <li class="pf-clear"></li>
                        </ul>
                        
                        <ul class="if-pf-col-3">
                            <li class="fourcol ">
                                <div class="if-pf-img">
                                    <div class="rollover"></div>
                                    <a class="image gotopost" href="portfolio-detail.html" title="Jellyfish"></a>
                                    <a class="image zoom" href="/bundles/tlmain/images/content/pf/jellyfish-3.jpg"  data-rel="prettyPhoto[jellyfish]" title="Jellyfish"></a>
                                    <img src="/bundles/tlmain/images/content/pf/jellyfish-3-349x260.jpg" alt="Jellyfish"   />
                                    <a data-rel="prettyPhoto[jellyfish]" href="/bundles/tlmain/images/content/pf/jellyfish-2.jpg" title="Jellyfish" class="hidden"></a>
                                    <a data-rel="prettyPhoto[jellyfish]" href="/bundles/tlmain/images/content/pf/jellyfish.jpg" title="Jellyfish" class="hidden"></a>
                                </div>
                                <div class="if-pf-text">
                                    <h2><a href="portfolio-detail.html" title="Jellyfish">Jellyfish</a></h2>
                                    <p>Maecenas eu lorem leo, placerat luctus eros. Maecenas pretium, elit et tempus tincidunt, nisi turpis elementum ligula, vel ultricies lorem elit ut nibh. Integer non fermentum libero.</p>
                                </div>
                                <div class="if-pf-clear"></div>
                            </li>
                            <li class="fourcol ">
                                <div class="if-pf-img">
                                    <div class="rollover"></div>
                                    <a class="image gotopost" href="portfolio-detail.html" title="Koala"></a>
                                    <a class="image zoom" href="/bundles/tlmain/images/content/pf/koala.jpg"  data-rel="prettyPhoto[koala]" title="Koala"></a>
                                    <img src="/bundles/tlmain/images/content/pf/koala-349x260.jpg" alt="Koala"   />
                                </div>
                                <div class="if-pf-text">
                                    <h2><a href="portfolio-detail.html" title="Koala">Koala</a></h2>
                                    <p>Maecenas eu lorem leo, placerat luctus eros. Maecenas pretium, elit et tempus tincidunt, nisi turpis elementum ligula, vel ultricies lorem elit ut nibh. Integer non fermentum libero.</p>
                                </div>
                                <div class="if-pf-clear"></div>
                            </li>
                        
                            <li class="fourcol last">
                                <div class="if-pf-img">
                                    <div class="rollover"></div>
                                    <a class="image gotopost" href="portfolio-detail.html" title="Kookaburra"></a>
                                    <a class="image zoom" href="/bundles/tlmain/images/content/pf/kookaburra.jpg"  data-rel="prettyPhoto[kookaburra]" title="Kookaburra"></a>
                                    <img src="/bundles/tlmain/images/content/pf/kookaburra-349x260.jpg" alt="Kookaburra"   />
                                </div>
                                <div class="if-pf-text">
                                    <h2><a href="portfolio-detail.html" title="Kookaburra">Kookaburra</a></h2>
                                    <p>Maecenas eu lorem leo, placerat luctus eros. Maecenas pretium, elit et tempus tincidunt, nisi turpis elementum ligula, vel ultricies lorem elit ut nibh. Integer non fermentum libero.</p>
                                </div>
                                <div class="if-pf-clear"></div>
                            </li>                       
                            <li class="pf-clear"></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div><!-- end #if-portfolio -->

                        <div class="wp-pagenavi">
                            <span class="pages">Page 1 of 3</span><a href="#" class="page">1</a><span class="current">2</span><a href="#" class="page">3</a>
                        </div>
                          
                    <div class="clearfix"></div><!-- clear float --> 
                </section><!-- maincontent -->
            </div>
        </div>

{% endblock %}
