{% extends "TLMainBundle::layout.html.twig" %}

{% block title "How It Works - The True Loyalty Program" %}

{% block breadcrumb "" %}
{% block pageTopText "How It Works" %}


{% block content %}
<div id="outermain">
            <div class="container">
                <section id="maincontent" class="row">
                    <div class="twelvecol">
            
                    <h2 class="bigtext">Simple Three Step Process</h2>
                    <div class="separator"></div>
                    
                    <div class="fourcol ">
                        <div class="if-pf-img">
                            <img src="/bundles/tlmain/images/content/pf/farmhouse2-349x260.jpg" alt="Farmhouse"   />
                        </div>
                        <br>
                        <h3>Setup Promotional Material</h3>
                        <div class="clearfix"></div>
                        <p>Once you sign up to True Loyalty, we send you a free promotional kit to help get your loyalty scheme up and running. Once you've placed these up, point your customers towards them and watch your loyalty scheme grow!</p>
                    </div>
                    <div class="fourcol ">
                        <div class="if-pf-img">
                            <img src="/bundles/tlmain/images/content/pf/farmhouse2-349x260.jpg" alt="Farmhouse"   />
                        </div>
                        <br>
                        <h3>Customers Join Loyalty Scheme</h3>
                        <div class="clearfix"></div>
                        <p>Once the customer has downloaded the True Loyalty mobile application on their Smart phone, they can join your loyalty scheme from within the application. 
                        They can then scan your business's QR code to earn loyalty stamps, rewards and provide constructive feedback, all through their mobile phone. You're then free to track, analyse and communicate with your customers through your business dashboard.</p>
                    </div>
                    <div class="fourcol last">
                        <div class="if-pf-img">
                            <img src="/bundles/tlmain/images/content/pf/farmhouse2-349x260.jpg" alt="Farmhouse"   />
                        </div>
                        <br>
                        <h3>Track Performance</h3>
                        <div class="clearfix"></div>
                        <p>True Loyalty offers all clients access to a whole array of features from within the "Business Dashboard". Manage your campaign, view your customers, analyse your feedback and send targeted promotions. 
                        The dashboard is home to a wide range of functions, features and services that facilitate high levels of engagement with your customers.</p>
                    </div>
                    <div class="separator"></div>
                    <div class="clearfix"></div>
                    
                    <div class="separator line"><div></div></div>
                    
                    <div class="separator"></div>
                    
                    <div class="center"><a href="" class="btn btn-primary btn-large">Click here to build your business's loyalty scheme today &raquo;</a></div>
                                   
                    <div class="separator"></div>

                    <div class="separator line"><div></div></div>

                    <div class="separator"></div>
                    </div>
                    <div class="clearfix"></div><!-- clear float --> 
                </section><!-- maincontent -->
            </div>
        </div>
{% endblock %}
