{% extends "TLMainBundle::layout.html.twig" %}

{% block content %}
<div id="outermain">
            <div class="container">
                <section id="maincontent" class="row">
                    <div class="twelvecol">
            
                    <h2 class="bigtext">How we are different</h2>
                    <div class="separator"></div>
                    
                    <div class="fourcol ">
                        <img src="/bundles/tlmain/images/content/iconservice-1.png" alt="Well Crafter" class="alignleft" /><br />
                        <h3>Well Crafted.</h3>
                        <div class="clearfix"></div>
                        <p>Consectetur adipiscing elit aeneane lorem lipsum, condimentum ultrices consequat eu, vehicula mauris lipsum adipiscing lipsum aenean orci lorem. Asequat lorem ipsum dolor lorem sit amet, consectetur adipiscing dolor elit. Aenean nisl orci, condimentum.</p>
                    </div>
                    <div class="fourcol ">
                        <img src="/bundles/tlmain/images/content/iconservice-2.png" alt="High Precission" class="alignleft" /><br />
                        <h3>High Precision.</h3>
                        <div class="clearfix"></div>
                        <p>Consectetur adipiscing elit aeneane lorem lipsum, condimentum ultrices consequat eu, vehicula mauris lipsum adipiscing lipsum aenean orci lorem. Asequat lorem ipsum dolor lorem sit amet, consectetur adipiscing dolor elit. Aenean nisl orci, condimentum.</p>
                    </div>
                    <div class="fourcol last">
                        <img src="/bundles/tlmain/images/content/iconservice-3.png" class="alignleft" alt="Technical Expert" /><br />
                        <h3>Technical Expert.</h3>
                        <div class="clearfix"></div>
                        <p>Consectetur adipiscing elit aeneane lorem lipsum, condimentum ultrices consequat eu, vehicula mauris lipsum adipiscing lipsum aenean orci lorem. Asequat lorem ipsum dolor lorem sit amet, consectetur adipiscing dolor elit. Aenean nisl orci, condimentum.</p>
                    </div>
                    <div class="separator"></div>
                    <div class="clearfix"></div>
                    
                    <div class="separator line"><div></div></div>
                    
                    <div class="separator"></div>
                    
                    <h2 class="bigtext">We help you build better websites</h2>
                    
                    <div class="separator"></div>
                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Consectetur adipiscing elit aeneane lorem lipsum, condimentum ultrices consequat eu, vehicula mauris lipsum.</p>
                    <div class="separator"></div>
                    
                    <div class="fourcol ">
                        <div class="if-heading">
                            <h3><span>Better Network</span></h3>
                        </div>
                        <p><img src="/bundles/tlmain/images/content/iconhome-1.png" alt="Well Crafter" class="alignleft" />Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Consectetur adipiscing elit aeneane lorem lipsum, condimentum ultrices consequat eu, vehicula mauris lipsum.</p>
                    </div>
                    <div class="fourcol ">
                        <div class="if-heading">
                            <h3><span>Enhance Website Traffic</span></h3>
                        </div>
                        <p><img src="/bundles/tlmain/images/content/iconhome-2.png" alt="Well Crafter" class="alignleft" />Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Consectetur adipiscing elit aeneane lorem lipsum, condimentum ultrices consequat eu, vehicula mauris lipsum.</p>
                    </div>
                    <div class="fourcol last">
                        <div class="if-heading">
                            <h3><span>Topnotch Development</span></h3>
                        </div>
                        <p><img src="/bundles/tlmain/images/content/iconhome-3.png" alt="Well Crafter" class="alignleft" />Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Consectetur adipiscing elit aeneane lorem lipsum, condimentum ultrices consequat eu, vehicula mauris lipsum.</p>
                    </div>
                
                    </div>
                    <div class="clearfix"></div><!-- clear float --> 
                </section><!-- maincontent -->
            </div>
        </div>
{% endblock %}
