{% extends "TLMainBundle::layout.html.twig" %}

{% block title "How It Works - The True Loyalty Program" %}

{% block breadcrumb "" %}
{% block pageTopText "How It Works" %}


{% block content %}
<section id="maincontent" class="row">
    <div class="twelvecol">


    <div class="separator"></div>
    <div class="center" id="businesses"><a href="#businesses" class="btn btn-primary">How it works for your <strong style="color: #7CFC00;">Business</strong></a> 
    &nbsp; &nbsp; &nbsp; OR &nbsp; &nbsp; &nbsp; 
    <a href="#customers" class="btn btn-primary">How it works for your <strong style="color: #7CFC00;">Customer</strong></a> </div>
    <div class="separator"></div>
    <div class="separator"></div>
    <div class="separator"></div>

    <div class="separator line"><div></div></div>

    <h2 class="bigtext">How it Works for Your Business</h2>
    <div class="separator"></div>
    
    <div class="fourcol ">
        <div class="if-pf-img">
            <img src="/bundles/tlmain/images/content/pf/farmhouse2-349x260.jpg" alt="Farmhouse"   />
        </div>
        <br>
        <h3>Create Loyalty Program</h3>
        <div class="clearfix"></div>
        <p>With True Loyalty's help, you can create your own customised loyalty card program for your customers as well as profitable and attractive promotional campaigns.</p>
    </div>
    <div class="fourcol ">
        <div class="if-pf-img">
            <img src="/bundles/tlmain/images/content/pf/farmhouse2-349x260.jpg" alt="Farmhouse"   />
        </div>
        <br>
        <h3>Set Up Promotional Material</h3>
        <div class="clearfix"></div>
        <p>When you sign up to True Loyalty we send you a <a data-toggle="modal" href="#startupKit" style="color: #0033ff;">free startup kit</a> which includes all of the promotional materials you need. Stick these up and you're ready to go!</p>
        {% include 'TLMainBundle:Page:_startup_kit.html.twig' %}
    </div>
    <div class="fourcol last">
        <div class="if-pf-img">
            <img src="/bundles/tlmain/images/content/pf/farmhouse2-349x260.jpg" alt="Farmhouse"   />
        </div>
        <br>
        <h3>Engage With Customers</h3>
        <div class="clearfix"></div>
        <p>From within your business dashboard you can track your loyalty program's performance, analyse your customers and view their feedback.</p>
    </div>
    <div class="clearfix"></div>
    
    <div class="separator"></div>
    
    <div class="center" id="customers"><a href="{{ path('TLMainBundle_page_pricing') }}" class="btn btn-primary btn-large">Create Your Business's Loyalty Program Today &raquo;</a></div>
                    
    <div class="separator"></div>
    <div class="separator"></div>
    <div class="separator"></div>

    <div class="separator line"><div></div></div>


    <div class="separator"></div>




    <h2 class="bigtext">How it Works for Your Customer</h2>
    <div class="separator"></div>
    
    <div class="fourcol ">
        <div class="if-pf-img">
            <img src="/bundles/tlmain/images/content/pf/farmhouse2-349x260.jpg" alt="Farmhouse"   />
        </div>
        <br>
        <h3>Download Application</h3>
        <div class="clearfix"></div>
        <p>Your customer downloads the True Loyalty mobile application on their smart phone by scanning the QR code on your promotional materials or searching for us in the App Store.</p>
    </div>
    <div class="fourcol ">
        <div class="if-pf-img">
            <img src="/bundles/tlmain/images/content/pf/farmhouse2-349x260.jpg" alt="Farmhouse"   />
        </div>
        <br>
        <h3>Join Loyalty Program</h3>
        <div class="clearfix"></div>
        <p>Your customer joins your loyalty program from within the True Loyalty application. They are then able to start a loyalty card and receive your promotions, straight to their phone!</p>
    </div>
    <div class="fourcol last">
        <div class="if-pf-img">
            <img src="/bundles/tlmain/images/content/pf/farmhouse2-349x260.jpg" alt="Farmhouse"   />
        </div>
        <br>
        <h3>Get Rewarded</h3>
        <div class="clearfix"></div>
        <p>As well as using promotional codes that you send them, your customer can 'stamp' their loyalty card by scanning your business's unique QR code after every qualifying purchase.</p>
    </div>
    <div class="separator"></div>
    <div class="clearfix"></div>
    
    <div class="separator"></div>
    
    <div class="center"><a href="{{ path('TLMainBundle_page_pricing') }}" class="btn btn-primary btn-large">Create Your Business's Loyalty Program Today &raquo;</a></div>
                    
    <div class="separator"></div>

    <div class="separator line"><div></div></div>

    <div class="separator"></div>
    </div>
    <div class="clearfix"></div><!-- clear float --> 
</section><!-- maincontent -->
{% endblock %}
