{% extends "TLMainBundle::layout.html.twig" %}

{% block content %}


<div id="outermain">
            <div class="container">
                <section id="maincontent" class="row">
                    <div class="twelvecol">
            
                        <div class="sixcol ">
                            <h4>Tabs</h4>
                            <div class="tabcontainer">
                                <ul class="tabs">
                                    <li><a href="#tab0">First Tab</a></li>
                                    <li><a href="#tab1">Second Tab</a></li>
                                    <li><a href="#tab2">Third Tab</a></li>
                                </ul>
                                <div id="tab-body">
                                    <div id="tab0" class="tab-content">
                                    <p>Proin sollicitudin malesuada risus, congue pellentesque elit dictum non. Proin eget ultrices ligula. estibulum tempus nisl et ipsum elementum eu aliquet ipsum eleifend.</p>
                                    <p>Fusce eros nisl, sollicitudin in consectetur vehicula, tincidunt vitae magna. Vestibulum porttitor lacinia tempus. Nunc cursus pellentesque justo a aliquam. Suspendisse tempor suscipit lorem et fermentum.</p>
                                    </div>
                                    <div id="tab1" class="tab-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis feugiat rutrum luctus. Proin nisl augue, tempus quis lacinia at, ultrices eget sapien. Vestibulum at orci a eros molestie rutrum. Fusce interdum erat vel eros elementum vitae interdum massa varius. Fusce sit amet neque ut neque vestibulum rhoncus in eu nisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer interdum sapien facilisis odio fermentum tincidunt. Nullam a ante augue.</p>
                                    </div>
                                    <div id="tab2" class="tab-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis feugiat rutrum luctus. Proin nisl augue, tempus quis lacinia at, ultrices eget sapien. Vestibulum at orci a eros molestie rutrum.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="sixcol last">
                            <h4>Toggle</h4>
                            <div id="toggle">
                                <h2 class="trigger"><span>Excepteur sint occaecat</span></h2>
                                <div class="toggle_container">
                                    <div class="block">
                                        <h5>Need a Website?</h5>
                                        <p>Consequat te olim letalis premo ad hos olim odio olim indoles ut venio iusto. Euismod, sagaciter diam neque antehabeo blandit, jumentum transverbero luptatum. Lenis vel diam praemitto molior facilisi facilisi suscipere abico, ludus, at. Wisi suscipere nisl ad capto comis esse, autem genitus. Feugiat immitto ullamcorper hos luptatum gilvus eum. Delenit patria nunc os pneum acsi nulla magna singularis proprius autem exerci accumsan.</p>
                                        <p>Praesent duis vel similis usitas camur, nostrud eros opes verto epulae feugiat ad. Suscipit modo magna letalis amet et tego accumsan facilisi, meus. Vindico luptatum blandit ulciscor mos caecus praesent sed meus velit si quis lobortis praemitto, uxor.</p>
                                    </div>
                                </div>
                                
                                <h2 class="trigger"><span>Maecenas et lacus est, et congue velit</span></h2>
                                <div class="toggle_container">
                                    <div class="block">
                                        <h5>Need a Logo?</h5>
                                        <p>Consequat te olim letalis premo ad hos olim odio olim indoles ut venio iusto. Euismod, sagaciter diam neque antehabeo blandit, jumentum transverbero luptatum. Lenis vel diam praemitto molior facilisi facilisi suscipere abico, ludus, at. Wisi suscipere nisl ad capto comis esse, autem genitus. Feugiat immitto ullamcorper hos luptatum gilvus eum. Delenit patria nunc os pneum acsi nulla magna singularis proprius autem exerci accumsan.</p>
                                        <p>Praesent duis vel similis usitas camur, nostrud eros opes verto epulae feugiat ad. Suscipit modo magna letalis amet et tego accumsan facilisi, meus. Vindico luptatum blandit ulciscor mos caecus praesent sed meus velit si quis lobortis praemitto, uxor.</p>
                                    </div>
                                </div>
                                
                                <h2 class="trigger"><span>Sed lobortis massa id magna</span></h2>
                                <div class="toggle_container">
                                    <div class="block">
                                        <h5>Need to be Heard?</h5>
                                        <p>Consequat te olim letalis premo ad hos olim odio olim indoles ut venio iusto. Euismod, sagaciter diam neque antehabeo blandit, jumentum transverbero luptatum. Lenis vel diam praemitto molior facilisi facilisi suscipere abico, ludus, at. Wisi suscipere nisl ad capto comis esse, autem genitus. Feugiat immitto ullamcorper hos luptatum gilvus eum. Delenit patria nunc os pneum acsi nulla magna singularis proprius autem exerci accumsan.</p>
                                        <p>Praesent duis vel similis usitas camur, nostrud eros opes verto epulae feugiat ad. Suscipit modo magna letalis amet et tego accumsan facilisi, meus. Vindico luptatum blandit ulciscor mos caecus praesent sed meus velit si quis lobortis praemitto, uxor.</p>
                                    </div>
                                </div>
                                
                                <h2 class="trigger"><span>Maecenas ultrices odio a orci dapibus</span></h2>
                                <div class="toggle_container">
                                    <div class="block">
                                        <h5>Have Product to Sell?</h5>
                                        <p>Consequat te olim letalis premo ad hos olim odio olim indoles ut venio iusto. Euismod, sagaciter diam neque antehabeo blandit, jumentum transverbero luptatum. Lenis vel diam praemitto molior facilisi facilisi suscipere abico, ludus, at. Wisi suscipere nisl ad capto comis esse, autem genitus. Feugiat immitto ullamcorper hos luptatum gilvus eum. Delenit patria nunc os pneum acsi nulla magna singularis proprius autem exerci accumsan.</p>
                                        <p>Praesent duis vel similis usitas camur, nostrud eros opes verto epulae feugiat ad. Suscipit modo magna letalis amet et tego accumsan facilisi, meus. Vindico luptatum blandit ulciscor mos caecus praesent sed meus velit si quis lobortis praemitto, uxor.</p>
                                    </div>
                                </div>
                                
                                <h2 class="trigger"><span>Excepteur sint occaecat</span></h2>
                                <div class="toggle_container">
                                    <div class="block">
                                        <h5>Need a Website?</h5>
                                        <p>Consequat te olim letalis premo ad hos olim odio olim indoles ut venio iusto. Euismod, sagaciter diam neque antehabeo blandit, jumentum transverbero luptatum. Lenis vel diam praemitto molior facilisi facilisi suscipere abico, ludus, at. Wisi suscipere nisl ad capto comis esse, autem genitus. Feugiat immitto ullamcorper hos luptatum gilvus eum. Delenit patria nunc os pneum acsi nulla magna singularis proprius autem exerci accumsan.</p>
                                        <p>Praesent duis vel similis usitas camur, nostrud eros opes verto epulae feugiat ad. Suscipit modo magna letalis amet et tego accumsan facilisi, meus. Vindico luptatum blandit ulciscor mos caecus praesent sed meus velit si quis lobortis praemitto, uxor.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    <div class="clearfix"></div><!-- clear float --> 
                </section><!-- maincontent -->
            </div>
        </div>

{% endblock %}
