{% extends "TLMainBundle::layout.html.twig" %}

{% block content %}

<div id="outermain">
            <div class="container">
                <section id="maincontent" class="row">
                    <div class="twelvecol">
            
                        <div class="threecol ">
                            <h5>Content with dropcaps</h5>
                            <p><span class="dropcap1">A</span>orem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id leo sem. In non eros viverra orci consequat sagittis sed sed lectus. Mauris tempus eleifend elit, ut fringilla nunc commodo sed.</p>
                        </div>
                        <div class="threecol ">
                            <h5>Content with dropcaps</h5>
                            <p><span class="dropcap1">B</span>orem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id leo sem. In non eros viverra orci consequat sagittis sed sed lectus. Mauris tempus eleifend elit, ut fringilla nunc commodo sed.</p>
                        </div>
                        <div class="threecol ">
                            <h5>Content with dropcaps</h5>
                            <p><span class="dropcap1">C</span>orem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id leo sem. In non eros viverra orci consequat sagittis sed sed lectus. Mauris tempus eleifend elit, ut fringilla nunc commodo sed.</p>
                        </div>
                        <div class="threecol last">
                            <h5>Content with dropcaps</h5>
                            <p><span class="dropcap1">D</span>orem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id leo sem. In non eros viverra orci consequat sagittis sed sed lectus. Mauris tempus eleifend elit, ut fringilla nunc commodo sed.</p>
                        </div>
                       
                    </div>
                    <div class="clearfix"></div><!-- clear float --> 
                </section><!-- maincontent -->
            </div>
        </div>

{% endblock %}
