{% extends "TLMainBundle::layout.html.twig" %}

{% block content %}

<div id="outermain">
            <div class="container">
                <section id="maincontent" class="row">
                    <div class="twelvecol">
            
                        <div class="twelvecol">           
                            <h4 class="headline">12 Columns</h4>
                            <p>Cras consequat porttitor tincidunt. Praesent eu tincidunt lacus. Donec ut neque vitae erat congue venenatis. Duis hendrerit lacinia leo in dignissim. Aliquam erat volutpat. Sed dignissim hendrerit nibh, quis faucibus erat cursus eget. Integer porta nisl vitae felis rutrum ut mollis felis congue. Vestibulum augue nisl, egestas eu rhoncus eu, fermentum in leo. Pellentesque ultricies pharetra nulla sit amet sagittis. Curabitur at feugiat nibh. Duis sit amet odio eros. Donec non purus non augue cursus convallis sed id purus. In fringilla luctus scelerisque. Donec mauris magna, iaculis non suscipit eu, pellentesque nec urna.</p>
                        </div>
                        
                        <hr />
                        
                        <!-- 1/2 Columns -->
                        <div class="sixcol">
                            <h4 class="headline">1/2 Column</h4>
                            <p>Praesent ut ante id metus sollicitudin sodales. Mauris dictum, lorem quis pretium feugiat, nibh metus ultricies quam, nec venenatis dolor dolor at massa. Aliquam aliquet quam augue feugiat in lore ipsum dolor sit amet convallis magna suscipit.</p>
                        </div>
                        
                        <div class="sixcol last">
                            <h4 class="headline">1/2 Column</h4>
                            <p>Praesent ut ante id metus sollicitudin sodales. Mauris dictum, lorem quis pretium feugiat, nibh metus ultricies quam, nec venenatis dolor dolor at massa. Aliquam aliquet quam augue feugiat in lore ipsum dolor sit amet convallis magna suscipit.</p>
                        </div>
                        
                        <hr />
                        
                        <!-- 1/2 Columns End -->
                        
                        <!-- 1/3 Columns -->
                        <div class="fourcol">
                            <h4 class="headline">1/3 Column</h4>
                            <p>Cras semper facilisis vestibulum. Nam purus magna, venenatis a mollis at, lacinia id lacus. Quisque metus arcu, condimentum vitae dignissim at, condimentum id dui. Fusce at dui metus. Nulla in purus in mauris luctus gravida vel vitae arcu Magna nisi. Integer ut risus nulla.</p>
                        </div>
                        
                        <div class="fourcol">
                            <h4 class="headline">1/3 Column</h4>
                            <p>Cras semper facilisis vestibulum. Nam purus magna, venenatis a mollis at, lacinia id lacus. Quisque metus arcu, condimentum vitae dignissim at, condimentum id dui. Fusce at dui metus. Nulla in purus in mauris luctus gravida vel vitae arcu Magna nisi. Integer ut risus nulla.</p>
                        </div>
                        
                        <div class="fourcol last">
                        <h4 class="headline">1/3 Column</h4>
                        <p>Cras semper facilisis vestibulum. Nam purus magna, venenatis a mollis at, lacinia id lacus. Quisque metus arcu, condimentum vitae dignissim at, condimentum id dui. Fusce at dui metus. Nulla in purus in mauris luctus gravida vel vitae arcu Magna nisi. Integer ut risus nulla.</p>
                        </div>
                        
                        <hr />
                        <!-- 1/3 Columns End -->
                        
                        <!-- 1/4 Columns End -->
                        <div class="threecol">
                            <h4 class="headline">1/4 Column</h4>
                            <p>Magna nisi. Integer ut risus nulla. Aliquam at erat in purus aliquet mollis. Fusce elementum velit vel dolor iaculis egestas. Nullam vitae neque luctus dolor pulvinar condimentum nec sed.</p>
                        </div>
                        <div class="threecol">
                            <h4 class="headline">1/4 Column</h4>
                            <p>Magna nisi. Integer ut risus nulla. Aliquam at erat in purus aliquet mollis. Fusce elementum velit vel dolor iaculis egestas. Nullam vitae neque luctus dolor pulvinar condimentum nec sed.</p>
                        </div>
                        <div class="threecol">
                            <h4 class="headline">1/4 Column</h4>
                            <p>Magna nisi. Integer ut risus nulla. Aliquam at erat in purus aliquet mollis. Fusce elementum velit vel dolor iaculis egestas. Nullam vitae neque luctus dolor pulvinar condimentum nec sed.</p>
                        </div>
                        <div class="threecol last">
                            <h4 class="headline">1/4 Column</h4>
                            <p>Magna nisi. Integer ut risus nulla. Aliquam at erat in purus aliquet mollis. Fusce elementum velit vel dolor iaculis egestas. Nullam vitae neque luctus dolor pulvinar condimentum nec sed.</p>
                        </div>
                        <!-- 1/4 Columns End -->

                
                    </div>
                    <div class="clearfix"></div><!-- clear float --> 
                </section><!-- maincontent -->
            </div>
        </div>

{% endblock %}
