{% extends "TLMainBundle::layout.html.twig" %}

{% block title "About Us - True Loyalty" %}

{% block breadcrumb "" %}
{% block pageTopText "About Us" %}

{% block content %}

<div id="outermain">
            <div class="container">
                <section id="maincontent" class="row">
                    <div class="twelvecol">
            
                        <p>True Loyalty provides small businesses across the United Kingdom with a platform to build user friendly, highly functional and effective loyalty schemes, drastically improve customer retention rates and build solid, profitable and attractive promotional campaigns.</p>
                    </div>

                    <div class="separator"></div>
                    <div class="separator"></div>


                    <div class="if-heading">
                        <h1><span>The Team</span></h1>
                    </div>
                    <div class="separator"></div>
                    
                    <div class="if-testimonial testi1">
                        <ul>
                            <li class="sixcol">
                                <div class="testiimg">
                                    <img src="{{ asset('bundles/tlmain/images/mohammad.png') }}" width="70" height="70" alt="Mohammad Forouzani" title="Mohammad Forouzani" />
                                <span class="insetshadow"></span></div>
                                <p style="padding-left: 100px;">Mohammad is in charge of the all things tech. He wears many hats to sure make the servers are always online, the website is working, and the mobile apps are as user friendly as possible.<br>
                                When not writing code, Mohammad loves extreme sports including snow boarding, motorcycle racing and go carting.
                                <span class="testiinfo">Mohammad Forouzani &#8211; Founder</span></p>
                                <div class="clearfix"></div>
                            </li>
                            <li class="sixcol last">
                                <div class="testiimg">
                                    <img src="/bundles/tlmain/images/content/testi-1.jpg" width="70" height="70" alt="Chris Kilroy" title="Chris Kilroy" />
                                <span class="insetshadow"></span></div>
                                <p style="padding-left: 100px;">Chris is responsible for True Loyalty's day-to-day-operations, as well as leading the company's product development strategy.
                                <span class="testiinfo">Chris Kilroy &#8211; Founder</span></p>
                            <div class="clearfix"></div>
                            </li>
                            <li class="clearfix"></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
              
                    </div>
                    <div class="clearfix"></div>
                </section>
            </div>
        </div>

{% endblock %}
