{% extends "TLMainBundle::layout.html.twig" %}

{% block content %}

<div id="outermain">
            <div class="container">
                <section id="maincontent" class="row">
                    <div class="twelvecol">
            
                    <p>onec nec auctor nisl. Curabitur hendrerit ultricies ligula ac blandit. Praesent non vulputate turpis. In est nibh, fermentum eget malesuada ut, ultrices ac lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis leo at mauris faucibus suscipit. Sed orci arcu, tincidunt at commodo in, consectetur sed enim. Vestibulum aliquet justo rutrum magna tincidunt fringilla. In eget nisl in justo mattis accumsan eu nec magna. Pellentesque pellentesque pharetra lacus, eget aliquet mi mattis eu. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    <div class="separator"></div>
                    
                    <div class="if-heading">
                        <h1><span>Our Happy Clients</span></h1>
                    </div>
                    <div class="separator"></div>
                    
                    <div class="if-testimonial testi1">
                        <ul>
                            <li class="sixcol">
                                <div class="testiimg">
                                    <img src="/bundles/tlmain/images/content/testi-4.jpg" width="70" height="70" alt="Tom Dickson" title="Tom Dickson" />
                                <span class="insetshadow"></span></div>
                                <blockquote class="">
                                <p>Maecenas eu lorem leo, placerat luctus eros. Maecenas pretium, elit et tempus tincidunt, nisi turpis elementum ligula, vel ultricies lorem elit ut nibh.
                                <span class="testiinfo">Tom Dickson &#8211; General Manager of Microshift</span></p>
                                </blockquote>
                                <div class="clearfix"></div>
                            </li>
                            <li class="sixcol last">
                                <div class="testiimg">
                                    <img src="/bundles/tlmain/images/content/testi-1.jpg" width="70" height="70" alt="Billy Sebastian" title="Billy Sebastian" />
                                <span class="insetshadow"></span></div>
                                <blockquote class=""><p>Cras venenatis mollis ligula ac consequat. Nulla facilisi. Ut commodo fermentum sapien nec tempor. Curabitur augue arcu, pharetra in elementum ace.<span class="testiinfo">Billy Sebastian &#8211; Web Developer of Titans Co.</span></p></blockquote>
                            <div class="clearfix"></div>
                            </li>
                            <li class="clearfix"></li>
                        </ul>
                        <ul>
                            <li class="sixcol">
                                <div class="testiimg">
                                    <img src="/bundles/tlmain/images/content/testi-3.jpg" width="70" height="70" alt="Vanya Cooper" title="Vanya Cooper" />
                                <span class="insetshadow"></span></div>
                                <blockquote class=""><p>Nullam tincidunt elit vitae dolor fringilla facilisis. Nam venenatis tempor nibh. Integer sed augue mi, vel convallis tortor.
                                <span class="testiinfo">Vanya Cooper &#8211; Freelancer Web Designer</span></p></blockquote>
                                <div class="clearfix"></div>
                            </li>
                            <li class="sixcol last">
                                <div class="testiimg">
                                    <img src="/bundles/tlmain/images/content/testi-2.jpg" width="70" height="70" alt="Theresa Trang" title="Theresa Trang" />
                                <span class="insetshadow"></span></div>
                                <blockquote class=""><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.<span class="testiinfo">Theresa Trang &#8211; Founder of Pineapple Co.</span></p></blockquote>
                                <div class="clearfix"></div>
                            </li>
                            <li class="clearfix"></li>
                        </ul>

                        <div class="clearfix"></div>
                    </div>
                
                    </div>
                    <div class="clearfix"></div><!-- clear float --> 
                </section><!-- maincontent -->
            </div>
{% endblock %}

