{% extends "TLMainBundle::layout.html.twig" %}

{% block title "Terms and Conditions - True Loyalty - The Best Loyalty Program" %}

{% block breadcrumb "" %}
{% block pageTop "" %}

{% block nopagetop "nopagetop" %}

{% block content %}

<section id="maincontent" class="row">
    <div class="twelvecol">

        {% include 'TLMainBundle:Page:_terms.html.twig' %}

    </div>
    <div class="clearfix"></div>
</section>

{% endblock %}
