
        <div id="outerheader">
           <div id="top" class="container">
                <header class="row">
                    <div id="logo">                 
                    <div id="logoimg">
                        <a href="{{ path('TLMainBundle_homepage') }}" title="True Loyalty" >
                            <h2 class="bigtext" style="text-align: left; font-weight: 700; margin-top: 10px; color: #1f5384;">TRUE &nbsp;<span style="color: #000000;">LOYALTY</span></h2>
                        </a>
                    </div>
                    </div>
                            <div class="clearfix"></div>
                </header>
            </div>
        </div>
